@import "custom";

* {
  font-family: "Montserrat", sans-serif;
}

.main-container {
  background-color: #39311d;
  color: #c4b6b6;
}

.generated-list {
  .list-group-item {
    color: #39311d;
  }
}

.track-detail {
  transition: all 0.3s;

  a {
    color: inherit;
  }

  &:hover {
    background-color: #f0e9e9;
  }

  .playlist-total-tracks,
  .artist-name {
    color: #baa571;
  }

  .playlist-likes,
  .playlist-total-tracks {
    width: 100px;
  }

  .playlist-likes {
    color: red;
  }

  .play-btn {
    fill: #594f36;
    &:hover {
      fill: black;
    }
  }
}
