@import "custom";

* {
  font-family: sans-serif;
}

.main-container {
  background-color: #39311d;
  color: #c4b6b6;
}

.generated-list {
  .list-group-item {
    color: #39311d;
  }
}

.track-link {
  color: #39311d;
  text-decoration: none;
  &:hover {
    color: #7e7474;
    text-decoration: underline;
  }
}
